body {
    margin: 0;
    height: 100vh;
    background-image: url('../Assest/IMG/Log.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor1 {
    max-width: 700px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 30%;
    background: linear-gradient(
        135deg,
        rgba(255, 0, 0, 0.252),
        rgba(79, 255, 4, 0.492)
    );
}

form {
    max-width: 500px;
    width: 100%;
    position: absolute;
    top: 15%;
    left: 15%;
    justify-content: center;
    align-items: center;
}